<div id="reset-password" class="gc-container">
  <div class="col-xs-4 col-xs-offset-4">
    <form name="resetPassword.resetPasswordForm" novalidate>

      <!-- Request password reset link -->
      <div data-ng-if="resetPassword.pageState == 'request'">
        <div class="row bottom-buffer">
          <div class="col-xs-11">
            <h2 data-ng-bind="resetPassword.heading"></h2>
            <p data-ng-bind="resetPassword.resetInfoText"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <label data-ng-bind="resetPassword.emailLabel"></label>
          </div>
        </div>
        <div class="row bottom-buffer-lg">
          <div class="col-xs-11 gc-form-element">
            <input
              class="form-control"
              type="email"
              data-ng-model="resetPassword.username"
              data-gc-email
              required
              name="username"
              placeholder="john@sample.com" />
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.username.$error.email &&
              resetPassword.resetPasswordForm.username.$touched)"
              data-ng-bind="resetPassword.invalidEmail">
            </p>
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.username.$error.required &&
              resetPassword.resetPasswordForm.username.$touched)"
              data-ng-bind="resetPassword.usernameRequired">
            </p>
          </div>
          <div class="col-xs-1 gc-error-icon">
            <i class="input-status fa"
              data-ng-class="resetPassword.getValidUsernameClass()">
            </i>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="col-xs-11 gc-form-element">
            <button
              class="btn pull-right"
              data-ng-bind="resetPassword.submitButtonLabel"
              data-ng-click="resetPassword.submitResetRequest()">
            </button>
          </div>
        </div>
      </div>
      
      <!-- Request Success -->
      <div data-ng-if="resetPassword.pageState == 'success'">
        <div class="row bottom-buffer-lg">
          <h2 data-ng-bind="resetPassword.successTitle"></h2>
          <p data-ng-bind="resetPassword.successInfoSent"></p>
          <p data-ng-bind="resetPassword.successInfoSpam"></p>
          <p>
            <span data-ng-bind="resetPassword.successInfoDontSee"></span>
            <a
              href="http://v2.decipherinc.com/survey/selfserve/1f34/150625"
              data-ng-bind="resetPassword.contactUs"
              target="_blank">
            </a>
          </p>
        </div>
      </div>

      <!-- Create new password -->
      <div data-ng-if="resetPassword.pageState == 'update'">
        <div class="row bottom-buffer">
          <h2 data-ng-bind="resetPassword.createNewPasswordTitle"></h2>
          <p data-ng-bind="resetPassword.createNewPasswordInfo">
        </div>
        <div class="row">
          <div class="col-xs-11">
            <label data-ng-bind="resetPassword.passwordLabel"></label>
          </div>
        </div>
        <div class="row bottom-buffer-lg">
          <div class="col-xs-11 gc-form-element">
            <input
              class="form-control"
              type="password"
              name="password"
              required
              data-gc-password
              data-ng-model="resetPassword.password" />
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.password.$error.required &&
              resetPassword.resetPasswordForm.password.$touched)"
              data-ng-bind="resetPassword.passwordRequired">
            </p>
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.password.$error.gcPassword &&
              resetPassword.resetPasswordForm.password.$touched)"
              data-ng-bind="resetPassword.passwordInvalid">
            </p>
          </div>
          <div class="col-xs-1 gc-error-icon">
            <i class="input-status fa"
              data-ng-class="resetPassword.getValidPasswordClass()">
            </i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <label data-ng-bind="resetPassword.reEnterPasswordLabel"></label>
          </div>
        </div>
        <div class="row bottom-buffer-lg">
          <div class="col-xs-11 gc-form-element">
            <input
              class="form-control"
              type="password"
              name="password2"
              required
              data-gc-match="resetPassword.password"
              data-ng-model="resetPassword.password2" />
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.password2.$error.required &&
              resetPassword.resetPasswordForm.password2.$touched)"
              data-ng-bind="resetPassword.passwordRequired">
            </p>
            <p class="error"
              data-ng-show="resetPassword.showValidation ||
              (resetPassword.resetPasswordForm.password2.$error.gcMatch &&
              resetPassword.resetPasswordForm.password2.$touched)"
              data-ng-bind="resetPassword.passwordMatch">
            </p>
          </div>
          <div class="col-xs-1 gc-error-icon">
            <i class="input-status fa"
              data-ng-class="resetPassword.getValidPassword2Class()">
            </i>
          </div>
        </div>
        <div class="row bottom-buffer-lg">
          <div class="col-xs-11 gc-form-element">
            <button
              class="btn pull-right"
              data-ng-bind="resetPassword.submitButtonLabel"
              data-ng-click="resetPassword.submitCreatePassword()">
            </button>
          </div>
        </div>
      </div>
      
      <!-- Exipired session -->
      <div data-ng-if="resetPassword.pageState == 'expired'">
        <div class="row error">
          <h2 data-ng-bind="resetPassword.oops"></h2>
          <p data-ng-bind="resetPassword.linkExpired"></p>
        </div>
        <div class="row bottom-buffer-lg">
          <a
            data-ui-sref="RESETPASSWORD"
            data-ui-sref-opts="{reload:true, inherit: false}"
            data-ng-bind="resetPassword.resetPassword">
          </a>
        </div>
      </div>
    </form>
  </div>
</div>