<div class="row">
    <div class="col-xs-16">


        <div class="ng-isolate-scope">
            <div class="main-header rsi-navbar-brand" role="banner">
                <a href="../" class="navbar-brand">
                    <span>RSI Mockups</span>
                </a>
                <div id="rsi-header" class="col-center padding-none">
                    <div class="col-xs-13 padding-none">
                        <div class="logo-wrap2 col-xs-4 padding-none">
                            <div class="navbar-header">
                                <a class="navbar-brand padding-none" href="#">
                                    <div class="logo2"><img src="/images/payroll/img/logo-ph-violet.png" alt="RSI Logo"></div>
                                </a>
                            </div>
                        </div>
                        <div class="nav-wrap col-xs-12 padding-none">
                            <div class="col-xs-16 pull-right padding-none">
                                <ul id="wizard-status" class="col-xs-10 col-lg-10 col-xl-8 pull-right padding-none">
                                    <li class="padding-none"></li>
                                    <li class="col-xs-3 padding-none">
                                        <span class="stickMe">Payroll</span>
                                    </li>
                                    <li class="col-xs-3 padding-none">
                                        <span class="stickMe">AP</span>
                                    </li>
                                    <li class="col-xs-3 padding-none completed">
                                        <span class="stickMe">Inventory</span>
                                    </li>
                                    <li class="col-xs-3 padding-none current">
                                        <span class="stickMe">Sales</span>
                                    </li><li class="padding-none">
                                    <div class="col-xs-4 centered padding-left-2x">
                                        <i class="top fa fa-truck fa-flip-horizontal"></i>
                                        <i class="fa fa-truck fa-flip-horizontal"></i>
                                        <i class="bottom fa fa-truck fa-flip-horizontal"></i>
                                        <div class="line1-bg"><div class="line2-bg">
                                            <div class="line3-bg"></div>
                                        </div>
                                        </div>
                                        <div class="line1">
                                            <div class="line2">
                                                <div class="line3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                            </div>
                            <div class="col-xs-16 padding-none">
                                <ul class="first padding-none">
                                    <li class="button raised width-20per pull-left center">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNT TOOLS
                                            <span class="caret"></span>
                                            <paper-ripple fit=""></paper-ripple>
                                        </a><ul class="second dropdown-menu">
                                        <li>
                                            <h5 class="padding-left-2x">Payroll</h5>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="#">Employee Workspace</a>
                                        </li>
                                        <li>
                                            <a href="#">Payroll Workspace</a>
                                        </li>
                                        <li><h5 class="padding-left-2x">Statements &amp; Documents</h5></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Check Register</a></li>
                                        <li><a href="#">Distribution Report</a></li>
                                        <li><a href="#">Tax Register</a></li>
                                        <li><a href="#">Tax Payments</a></li>
                                    </ul>
                                    </li>
                                    <li class="button raised width-20per pull-left center">
                                        <a href="#">REPORT CARD<paper-ripple fit=""></paper-ripple></a>
                                    </li>
                                    <li class="button raised width-20per pull-left center">
                                        <a href="#">SHIFT SOLUTIONS
                                            <paper-ripple fit=""></paper-ripple>
                                        </a>
                                    </li>
                                    <li class="button raised width-20per pull-left center">
                                        <a href="#">STATEMENTS
                                            <paper-ripple fit=""></paper-ripple>
                                        </a>
                                    </li>
                                    <li class="button raised width-20per pull-left center">
                                        <a href="#">INSURANCE
                                            <paper-ripple fit=""></paper-ripple>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-16 padding-none header-bottom"></div>
                    </div>
                    <div class="user-wrap col-xs-3 padding-none">
                        <div class="profile">
                            <div class="user-img"></div>
                            <div class="user-btn"></div>
                            <div class="user-info">
                                <span class="name">
                                    <div class="header">
                                        <h2>Elway's - Steakhouse</h2>
                                    </div>
                                </span>
                                <span class="address">
                                    <p>Cherry Creek Shopping Center</p><p>2500 E. 1st Ave #101</p><p>Denver, CO 80206</p>
                                </span>
                            </div>
                        </div>
                        <div class="" style="width:20%;float:left;">
                            <ul class="tools pull-left padding-none">
                                <li data-toggle="tooltip" title="Log Out" class="toggle-lightbox">
                                    <a href="#">
                                        <i class="fa fa-sign-out"></i>
                                    </a>
                                </li>
                                <li data-toggle="tooltip" title="Manage Users">
                                    <a href="#" class="toggle-lightbox">
                                        <i class="fa fa-users"></i>
                                    </a>
                                </li>
                                <li data-toggle="tooltip" title="Edit Profile">
                                    <a href="#" class="toggle-lightbox">
                                        <i class="fa fa-gear"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>