<div class="leftnav padding-none margin-none">
    <div class="left-side navbar shadow-z-2">

        <div id="nav-wrap">
            <ul nav-active-class="">
                <li class="withripple"><a href="/"><i class="fa fa-home"></i><span>HOME</span></a></li>

                <li class="withripple"><a href="/marketing"><i class="fa fa-diamond"></i><span>MARKETING</span></a></li>

                <li class="withripple"><a href="#" id="nav-toggle"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>

    </div>
</div>
