<footer class="bottom-buffer-lg">

  <!--<span data-ng-bind="(footer.copyrightDate | date:'yyyy')"></span>-->
  <!--<span data-ng-bind="footer.copyrightText"></span>-->
  <!--<span data-ng-if="!footer.isAuthed">-->
    <!--| <a-->
        <!--href="#"-->
        <!--data-ng-bind="footer.contactSupport"-->
        <!--target="_blank">-->
    <!--</a>-->
  <!--</span>-->
  <!--<span data-ng-if="footer.isAuthed">-->
    <!--<a -->
      <!--href="#" target="_blank" -->
      <!--data-ng-bind="footer.privacyPolicy">-->
    <!--</a> |-->
    <!--<a -->
      <!--href="#" target="_blank" -->
      <!--data-ng-bind="footer.termsOfUse">-->
    <!--</a>-->
  <!--</span>-->

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons ">view_quilt</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>


</footer>
