.chat-container {
  iframe, object, embed{
    width: 100%;
  }

  .avatar,
  .person-info {
    text-align: left;
  }
  
  .avatar {   
    width: 60px;
    
    img {
      width: 48px; //set this so facebook and our avatars are the same size
      margin-right: 10px;
    }
  }
  
  .person-info {
    vertical-align: bottom;
    
    div {
      line-height: 1.3;
    }
  }

  .outterBubble p {
    margin: 10px 15px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .subtitle {
    color: $chatbubble--subtitle-text;
  }

  .bubble {
    background: $background--body;
    border-radius: 10px;
    position: relative;
    padding: 20px;
  }
  
  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: $background--body transparent;
    display: block;
    width: 0;
    top: -15px;
    left: 30px;
  }
  
  .chat-message {
    padding: 0;
    margin: 5px 0 0;
  }

  &.board-chat-container {
    padding-bottom: 0px;
    .bubble {
      border-radius: 10px 10px 0 0;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .chat-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .welcome-chat-container,
  .complete-chat-container,
  .board-chat-container,
  .board-no-answers-chat-container {
    .bubble {
      border-radius: 0px;
    }
  }

  .board-chat-container {
    .title {
      display: none;
    }
  }
}