.file-upload {
  overflow: auto;
  button {
    height: 45px;
  }
  a {
    &[disabled="disabled"] {
      cursor: default;
      color: $dark-gray;
    }
  }
  .image-container {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
    div {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $background--body;
      height: 100%;
      width: 100%;
      i {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }
  }
}
