.image-grid {
  text-align: center;
  
  .image-thumbnail {
    span {
      position: relative;
      display: inline-block;
    }
    img {
      margin: 10px;
      cursor: pointer;
    }
  }
  .delete-overlay {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 12px;
    color: $dark-red;
  } 
}

.lightbox {
  //adding this trash right here to handle modals on iOs
  -webkit-overflow-scrolling: touch;
  .header {
    border-bottom: none;
    color: #586064;
    padding: 5px 15px;
    height: 35px;
    .close-button {
      float: right;
      cursor: pointer;
      span:nth-child(2) {
        font-size: 1.2em;
      }
    }
  }
  .footer {
    height: 20px;
  }

  .control {
    width: 50px;
    i {
      position: absolute;
      top: 45%;
      cursor: pointer;
      font-size: 2em;
      font-weight: bold;
      background-color: $lightbox-control-button;
      color: #ffffff;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
    }
    .right {
      i {
        right: 15px;
        padding-left: 12px;
      }
    }
    .left {
      i {
        padding-left: 8px;
        left: 15px;
      }
    }
  }

  .lightbox-image-container {
    img {
      border: 1px solid $background--light;
      margin-bottom: 10px;
    }
  }
}