@import '../node_modules/angular-toastr/dist/angular-toastr';

.toast-top-center {
  top: 125px;
}

.toast-error {
  background-color: $dark-red;
}

.toast-info {
  background-color: $dark-blue;
}

.toast-success {
  background-color: $dark-green;
}

.toast-warning {
  background-color: $dark-yellow;
}
