.tooltip-container{
  background: $question-mobile-help-background;
  i{
    margin-left: 0;
    margin-right: 0;
    &.info-icon{
      color: $question-mobile-help-info;
      margin-left: -5px;
      padding: 0;
    }
    &.microphone-icon{
      color: $question-mobile-help-microphone;
      margin-right: 0;
    }
  }
  span > span {
    color: $dark-blue;
    font-size: $font-size--sm;
    font-style: italic;
    line-height: 1em;
    padding-top: 10px;
    position: absolute;
    &:after{
      border-bottom: 20px solid $question-mobile-help-border;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      bottom: 100%;
      content: '';
      height: 0;
      left: 45%;
      margin-left: 0;
      position: absolute;
      width: 0;
    }
  }
}