<div class="subhead col-xs-12">
  <div class="row bottom-buffer-sm">
    <h2 class="pull-left"><span data-ng-bind="header.pageTitle"></span></h2>
    <span class="subnav center-block">
      <a data-ng-click="header.goToCreate()"><span data-ng-bind="header.createText"></span></a>
      <input data-ng-if="header.showSearch" class="left-buffer" placeholder="{{header.searchPlaceholder}}" type="text"/>
    </span>
  </div>
</div>