<nav class="cyan lighten-1" role="navigation">
    <div class="nav-wrapper">


        <!--<a id="logo-container" href="#" class="brand-logo">Logo</a>-->
        <!-- -->
        <!--<ul class="right hide-on-med-and-down">-->
            <!--<li><a href="#">Navbar Link</a></li>-->
        <!--</ul>-->

        <!--<ul id="nav-mobile" class="side-nav" style="left: -250px;">-->
            <!--<li><a href="#">Navbar Link</a></li>-->
        <!--</ul>-->
        <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->


        <div class="row padding-none margin-none">
            <div class="col-xs-4 padding-none margin-none">testing</div>
            <div class="col-xs-8 padding-none margin-none">testing</div>
            <div class="col-xs-4 padding-none margin-none">testing</div>
        </div>


    </div>
</nav>