<div id="login" class="gc-container">
  <div class="col-xs-4 col-xs-offset-4" data-ng-show="!login.accountLocked">
    <div class="row">
      <h2 data-ng-bind="login.heading"></h2>
    </div>
    <form name="login.loginForm">
      <!-- TODO: error stuff here -->
      <div class="row error-row error">
        <div data-ng-if="login.showUnauthed">
          <h3 data-ng-bind="login.unrecognizedTitle"></h3>
          <span data-ng-bind="login.unrecognizedBody"></span>
        </div>
      </div>

      <div class="row bottom-buffer-xs">
        <label data-ng-bind="login.emailLabel"></label>
        <input
          class="form-control"
          type="email"
          data-ng-model="login.username"
          data-gc-email
          name="username"
          placeholder="john@sample.com"
          required />
        <p class="error"
          data-ng-show="login.showValidation || (login.loginForm.username.$error.required && login.loginForm.username.$touched)"
          data-ng-bind="login.emailRequired"></p>
        <p class="error"
          data-ng-show="login.showValidation || (login.loginForm.username.$error.email && login.loginForm.username.$touched)"
          data-ng-bind="login.emailFormat"></p>
      </div>
      <div class="row bottom-buffer">
        <label class="checkbox-inline">
          <input
            type="checkbox"
            data-ng-model="login.rememberMe" value="true" />
          <span data-ng-bind="login.rememberMeLabel"></span>
        </label>
      </div>
      <div class="row bottom-buffer-sm">
        <label data-ng-bind="login.passwordLabel"></label>
        <input
          class="form-control"
          type="password"
          data-ng-model="login.password"
          name="password"
          required />
        <p class="error"
          data-ng-show="login.showValidation || (login.loginForm.password.$error.required && login.loginForm.password.$touched)"
          data-ng-bind="login.passwordRequired"></p>
      </div>
      <div class="row bottom-buffer">
        <a
          class="alternate-form-link pull-left"
          data-ng-bind="login.resetPasswordLabel"
          ui-sref="RESETPASSWORD">
        </a>
        <button
          class="btn pull-right"
          data-ng-bind="login.loginButtonLabel"
          data-ng-click="login.handleLogin()">
        </button>
      </div>
    </form>
  </div>
  <div class="col-xs-4 col-xs-offset-4" data-ng-show="login.accountLocked">
    <div class="row error">
      <h2 data-ng-bind="login.lockedTitle"></h2>
      <p data-ng-bind="login.lockedError"></p>
    </div>
    <div class="row">
      <p>
        <span data-ng-bind="login.lockedContact"></span>
        <a
          href="http://v2.decipherinc.com/survey/selfserve/1f34/150625"
          target="_blank"
          data-ng-bind="login.lockedContactLink">
        </a>
      </p>
    </div>
  </div>
</div>