//
// Header
// ---------------------------------------------------------

.header-bar {

  @extend .z-depth-1;
  height: 66px;
  width: 100%;
  margin-bottom: 0;
  background-color: #009587;
  float: left;
  transition: box-shadow .25s;

}

