//
// Left Nav
// ---------------------------------------------------------


.left-side {
  float: none;
  display: table-cell;
  width: 88px;
  background: #303f3e; }

.left-side .expand {
  width: 240px !important; }

#nav-wrap {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 88px;
  background: #303f3e;
  overflow: hidden;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#nav-wrap ul {
  position: absolute;
  top: 0;
  left: -36px;
  margin-top: 7px; }

#nav-wrap li {
  list-style-type: none;
  text-align: center; }

#nav-wrap i {
  color: #f1f1f1;
  padding: 6px 0 0 0;
  margin: 0 4px 0 0;
  font-size: 26px;
  text-shadow: 1px 1px #009587;
  height: 45px;
  width: 39px;
  text-align: center; }

#nav-wrap a {
  border: rgba(255, 255, 255, 0.2) solid 1px;
  border-left: none;
  border-right: none;
  width: 272px;
  float: left;
  text-align: left;
  padding: 8px 0 8px 22px;
  margin: 0; }

#nav-wrap span {
  color: #fff;
  padding: 0 0 0 25px; }

#nav-wrap a:first-child {
  border-top: none; }
