//
// Map
// ---------------------------------------------------------

#map {
  height: 100%;
  width: 102%;
  position: absolute !important;
  top: 65px;
  left: 0;
  border-left: 78px solid #b3d1ff;
  border-top: 3px solid #b3d1ff;
  border-right: 38px solid #b3d1ff;
}