//
// Variables
// ---------------------------------------------------------


.padding-none { padding: 0 !important; }
.padding-left-none { padding-left: 0 !important;}
.padding-right-none { padding-right: 0 !important;}
.padding-top-none { padding-top: 0 !important;}
.padding-bottom { padding-bottom: 0 !important;}

.margin-none { margin: 0 !important; }
.margin-left-none { margin-left: 0 !important;}
.margin-right-none { margin-right: 0 !important;}
.margin-top-none { margin-top: 0 !important;}
.margin-bottom { margin-bottom: 0 !important;}

.padding-all { padding:10px !important; }
.padding-all-2x { padding:20px !important; }
.padding-all-3x { padding:30px !important; }
.padding-all-4x { padding:40px !important; }
.margin-all { margin:10px !important; }
.margin-all-2x { margin:20px !important; }
.margin-all-3x { margin:30px !important; }
.margin-all-4x { margin:40px !important; }

.padding-left { padding-left:10px !important; }
.padding-left-2x { padding-left:20px !important; }
.padding-left-3x { padding-left:30px !important; }
.padding-left-4x { padding-left:40px !important; }
.margin-left { margin-left:10px !important; }
.margin-left-2x { margin-left:20px !important; }
.margin-left-3x { margin-left:30px !important; }
.margin-left-4x { margin-left:40px !important; }

.padding-right { padding-right:10px !important; }
.padding-right-2x { padding-right:20px !important; }
.padding-right-3x { padding-right:30px !important; }
.padding-right-4x { padding-right:40px !important; }
.margin-right { margin-right:10px !important; }
.margin-right-2x { margin-right:20px !important; }
.margin-right-3x { margin-right:30px !important; }
.margin-right-4x { margin-right:40px !important; }

.padding-top { padding-top:10px !important; }
.padding-top-2x { padding-top:20px !important; }
.padding-top-3x { padding-top:30px !important; }
.padding-top-4x { padding-top:40px !important; }
.margin-top { margin-top:10px !important; }
.margin-top-2x { margin-top:20px !important; }
.margin-top-3x { margin-top:30px !important; }
.margin-top-4x { margin-top:40px !important; }

.padding-bottom { padding-bottom:10px !important; }
.padding-bottom-2x { padding-bottom:20px !important; }
.padding-bottom-3x { padding-bottom:30px !important; }
.padding-bottom-4x { padding-bottom:40px !important; }
.margin-bottom { margin-bottom:10px !important; }
.margin-bottom-2x { margin-bottom:20px !important; }
.margin-bottom-3x { margin-bottom:30px !important; }
.margin-bottom-4x { margin-bottom:40px !important; }