html,
body,
row,
.page,
.main-content,
.container-fluid,
.wrap-full {
    height: 100%;
    width: 100%;
    display: table;
}
.right-side {
    margin-left: 0%;
    -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */

    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}
/* OOCSS */
.right-side.content-movein {
    margin-left:    30px;
    margin-right:   -30px;
}

.slidein {
    right:0;
}

.fadein {
    opacity: 1;
}
.vis-vis {
    visibility: visible;
}

/* Header */
.rsi-header {
    padding-top: .25em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
    font-size: 24px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    background: $brand-primary;
    border-bottom: 1px solid #003a6c;
}
.rsi-header h1 {
    margin-top: .5em;
    color: #fafbfb;
}
.rsi-header p {
    font-family: "TheinhardtThin", Arial, sans-serif;
    line-height: 1.5;
}
@media screen and (min-width: 48em) {
    .rsi-header {
        font-size: 24px;
        font-size: 1.5rem;
        text-align: left;
    }
}

/* OOCSS */
.wireframe
{
    border:1px solid $brand-primary;
}
ul {
    display: block;
    list-style-type: none !important;
}

.width-20per {
    width:20% !important;
}
.width-25per {
    width:25% !important;
}
.overflow-hide { overflow:hidden !important; }

/* animation */
.fadeInUpDelay {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

@keyframes grayscalefadeIn {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0;
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
}
@-webkit-keyframes grayscalefadeIn {
    0% {
        opacity: 0;

        -webkit-filter: grayscale(100%);
    }
    100% {
        opacity: 1;

        -webkit-filter: grayscale(0%);
    }
}
.grayscalefadeIn {
    -webkit-animation-name: grayscalefadeIn;
    animation-name: grayscalefadeIn;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
}

/* home page - footer */

.l-footer {
    text-align: center;
}

/* header rows */
.hr-violet {
    width:100%;
    height:2px;
    background-color: $rsi-violet;
}

.hr-dark {
    width:100%;
    height:2px;
    background-color: $gray-dark;
}
.hr-white {
    width:100%;
    height:2px;
    background-color: $white;
}



/* super header - colors */
.rsi-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
    height: 3.25em;
    margin-bottom: 0;
    font-family: $font-family-base;
    background-color: #000;
    transition: background-color 500ms linear;
}
.rsi-navbar:before {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .25em;
    content: "";
    //background: linear-gradient(to right, #009ddc 0%, #009ddc 20%, #e70082 20%, #e70082 40%, #54b948 40%, #54b948 60%, #fdbb30 60%, #fdbb30 80%, #e31b23 80%, #e31b23 100%);
    background: linear-gradient(to right,
        #5C3E8F 0%, #5C3E8F 20%,
        #6D18FF 20%, #6D18FF 40%,
        #DA06FF 40%, #DA06FF 60%,
        #FFE100 60%, #FFE100 80%,
        #E1FF00 80%, #E1FF00 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ddc', endColorstr='#e31b23',GradientType=1 );
    /* IE8-9 */
}
@media screen and (min-width: 48em) {
    .rsi-navbar {
        height: 4.25em;
        background-color: $rsi-brand-dark20;
        transition: background-color 500ms linear;
    }
}
.rsi-navbar .navbar-toggle {
    position: absolute;
    top: 4px;
    left: 0;
}

.rsi-navbar .navbar-toggle:link, .rsi-navbar .navbar-toggle:visited, .rsi-navbar .navbar-toggle:hover, .rsi-navbar .navbar-toggle:active, .rsi-navbar .navbar-toggle:focus {
    background: transparent !important;
}
@media screen and (min-width: 48em) {
    .rsi-navbar .navbar-toggle {
        top: .75em;
        left: .5em;
        display: block !important;
    }
}
@media screen and (min-width: 60em) {
    .rsi-navbar .navbar-toggle {
        display: none !important;
    }
}
.rsi-navbar .navbar-brand {
    position: absolute;
    top: 4px;
    left: 48px;
    left: 3rem;
    display: inline-block;
    max-width: 15em;
    padding: .8em 1em;
    overflow: hidden;
    font-size: 16px;
    font-size: 1rem;
    color: #fff !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid gray;
}
@media (min-width: 48em) {
    .rsi-navbar .navbar-brand {
        top: .25em;
        left: 64px;
        left: 4rem;
        display: block !important;
        max-width: 30em;
        padding: .7em 1em;
        font-size: 20px;
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 60em) {
    .rsi-navbar .navbar-brand {
        left: 32px;
        left: 2rem;
        padding: .6em 1em;
        border: none;
    }
}

/* Pattern Library - Sidebar */
.rsi-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    width: 17.5rem;
    height: 100%;
    overflow: auto;
    background:  $gray-lighter;
}
.rsi-sidebar .nav > .active > ul {
    display: block;
    list-style-type: none !important;
}

.rsi-sidebar .nav > .active > a,
.rsi-sidebar .nav > .active:hover > a,
.rsi-sidebar .nav > .active:focus > a {
    font-weight: 700;
    color: $rsi-violet;
}
.rsi-sidebar .nav > li > li > a {
    display: block;
    padding:0;
}
.rsi-sidebar .nav > li > li > a,
.rsi-sidebar .nav > li > li > li > a,
.rsi-sidebar .nav > li > li > li > li >  a
{
    display: block;
    padding:.15em;
 }
.rsi-sidebar .nav > li > a:hover,
.rsi-sidebar .nav > li > a:focus {
    color: #fff;
    text-decoration: none;
    background: $gray-dark;
}
.rsi-sidebar .nav .nav {
    /*display: none;*/
    padding-bottom: .66em;
    margin-left: .66em;
}
.rsi-sidebar .nav .nav > li > a {
    font-weight: 400;
}
.rsi-sidebar .nav .nav > .active > a,
.rsi-sidebar .nav .nav > .active:hover > a,
.rsi-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}
.rsi-sidebar .fa {
    color: #66c4ea;
}


.rsi-docs-container {
    padding: 0 16px;
    padding: 0 1rem;
}
@media (min-width: 60em) {
    .rsi-docs-container {
        padding: 0 48px;
        padding: 0 3rem;
    }
}

/* RSI Styleguide */
.rsi-example {
    position: relative;
    padding: 48px 16px 16px;
    padding: 3rem 1rem 1rem;
    margin: 0 -16px 16px;
    margin: 0 -1rem 1rem;
    background-color: #fff;
    border-color: #dae0e0 #b7c2c3 #b7c2c3;
    border-style: solid;
    border-width: 1px 0;
}
.rsi-example:after {
    position: absolute;
    top: 1.25em;
    left: 1.33em;
    font-size: 12px;
    font-size: .75rem;
    font-weight: 700;
    color: #aab7b7;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}
.rsi-example + .highlight {
    margin: -.9375em -.9375em .9375em;
    border-width: 0 0 1px;
    border-radius: 0;
}
@media screen and (min-width: 48em) {
    .rsi-example {
        margin-right: 0;
        margin-left: 0;
        border-color: #dae0e0;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }
    .rsi-example + .highlight {
        margin-top: -1.0675em;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-radius: 0 0 4px 4px;
    }
}

.rsi-example > p:last-child,
.rsi-example > ul:last-child,
.rsi-example > ol:last-child,
.rsi-example > blockquote:last-child,
.rsi-example > .form-control:last-child,
.rsi-example > .table:last-child,
.rsi-example > .navbar:last-child,
.rsi-example > .jumbotron:last-child,
.rsi-example > .alert:last-child,
.rsi-example > .panel:last-child,
.rsi-example > .list-group:last-child,
.rsi-example > .well:last-child,
.rsi-example > .progress:last-child,
.rsi-example > .table-responsive-example:last-child > .table {
    margin-bottom: 0;
}

.rsi-example > p > .close {
    float: none;
}

.rsi-example .tabs > li.active > a,
.rsi-example .tabs > li.active > a:hover {
    background: #fff;
}
.sidenav-header {
    position: fixed;
    width: 280px;
    width: 17.5rem;
    height: 3.1875em;
    padding-left: 1em;
    margin-bottom: 1em;
    line-height: 3.1875em;
    background-color: $rsi-brand-dark20;
    border-bottom: 1px solid #636e6f;
}
@media screen and (min-width: 48em) {
    .sidenav-header {
        height: 4.1875em;
        line-height: 4.1875em;
    }
}




.rsi-example-type .table .type-info {
    color: #95a5a6;
    vertical-align: middle;
}

.rsi-example-type .table td {
    padding: 1em 0;
    border-color: #dae0e0;
}

.rsi-example-type .table tr:first-child td {
    border-top: 0;
}

.rsi-example-type h1,
.rsi-example-type h2,
.rsi-example-type h3,
.rsi-example-type h4,
.rsi-example-type h5,
.rsi-example-type h6 {
    margin: 0;
}

.rsi-example-bg-classes p {
    padding: 1em;
}

.rsi-example > .img-circle,
.rsi-example > .img-rounded,
.rsi-example > .img-thumbnail {
    margin: .3125em;
}

.rsi-example > .table-responsive-example > .table {
    background-color: #fff;
}

.rsi-example > .btn,
.rsi-example > .btn-group {
    margin-top: .33em;
    margin-bottom: .33em;
}

.rsi-example > .btn-toolbar .btn-toolbar {
    margin-top: .66em;
}

.rsi-example-control-sizing .form-control {
    margin-bottom: .66em;
}

.rsi-example-form .input-group {
    margin-bottom: .66em;
}

.rsi-example > textarea.form-control {
    resize: vertical;
}

.rsi-example > .list-group {
    max-width: 25em;
}

.rsi-example .navbar:last-child {
    margin-bottom: 0;
}

.rsi-navbar-top-example,
.rsi-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    overflow: hidden;
}

.rsi-navbar-top-example .navbar-header,
.rsi-navbar-bottom-example .navbar-header {
    margin-left: 0;
}

.rsi-navbar-top-example .navbar.fixed-top,
.rsi-navbar-bottom-example .navbar.fixed-bottom {
    position: relative;
    margin-right: 0;
    margin-left: 0;
}

.rsi-navbar-top-example {
    padding-bottom: 7.5em;
}

.rsi-navbar-top-example:after {
    top: auto;
    bottom: 1em;
}

.rsi-navbar-top-example .navbar.fixed-top {
    top: -.0625em;
}

.rsi-navbar-bottom-example {
    padding-top: 7.5em;
}

.rsi-navbar-bottom-example .navbar.fixed-bottom {
    bottom: -.0625em;
}

.rsi-navbar-bottom-example .navbar {
    margin-bottom: 0;
}

@media (min-width: 48em) {
    .rsi-navbar-top-example .navbar.fixed-top,
    .rsi-navbar-bottom-example .navbar.fixed-bottom {
        position: absolute;
    }

    .rsi-navbar-top-example {
        border-radius: 0 0 4px border-radius-base;
    }

    .rsi-navbar-bottom-example {
        border-radius: 4px border-radius-base 0 0;
    }
}


.rsi-example .pagination {
    margin-top: .66em;
    margin-bottom: .66em;
}

.rsi-example > .pager {
    margin-top: 0;
}

.rsi-example-modal {
    background-color: #fafbfb;
}
.rsi-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
    overflow: visible;
}
.rsi-example-modal .modal-dialog {
    left: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.rsi-example > .dropdown > .btn {
    float: left;
}

.rsi-example > .dropdown > .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: .33em;
    clear: left;
}

.rsi-example-tooltips {
    text-align: center;
}
.rsi-example-tooltips > .btn {
    margin-top: .33em;
    margin-bottom: .33em;
}

.rsi-example-tooltip .tooltip {
    position: relative;
    display: inline-block;
    margin: .66em 1.25em;
    opacity: 1;
}

.rsi-example-popover {
    padding-bottom: 1.5em;
    background-color: #fafbfb;
}
.rsi-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 16.25em;
    margin: 1.25em;
}

.scrollspy-example {
    position: relative;
    height: 12.5em;
    margin-top: .66em;
    overflow: auto;
}

.rsi-examples h4 {
    margin-bottom: .33em;
}

.rsi-examples p {
    margin-bottom: 1.25em;
}

@media (min-width: 30em) {
    .rsi-examples .col {
        min-height: 23em;
    }
}

@media (min-width: 48em) {
    .rsi-navbar-toggle-animation .navbar-toggle {
        display: block !important;
        margin-top: .5em;
        margin-left: .5em;
    }
}


@media (min-width: 60em) {
    .rsi-navbar {
        left: 17.5em;
    }

    .wrapper {
        margin-left: 17.5em;
    }
}

/* NEW animated button */
.circle
{
    width:60px;
    height:60px;
    border-radius:50%;
    position: fixed;
    right: 80px;
    margin-right:-30px;
    bottom: 30px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.first_circle
{
    background-color:#5c3e8f;
    z-index: 3;

    i {
        margin:     19px 0 0 6px;
        font-size:  23px;
    }
}
.second_circle
{
    z-index: 2;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/rbnbrd.png);
    background-size:cover;
}
.third_circle
{
    z-index: 1;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet.png);
    background-size:cover;
}
.contener_circle:hover .second_circle
{
    bottom:100px;
}
.contener_circle:hover .third_circle
{
    bottom:170px;
}
/* /. animated button */


/* Extras - color transitioning text */
/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
    /*
     * Animation variables
     */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;

    /*
     * Elements settings
     */
    #{$animationElement} {
        animation-name: anim-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }

    /*
     * Keyframe loop
     */
    @keyframes anim-text-flow-keys {
        @for $i from 0 through $animationSteps {
            #{percentage($i * (1 / $animationSteps))} {
                color: hsla(random(365), 60, 60, 1);
            }
        }
    }

    /*
     * Element animation delay loop
     */
    $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
            animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}
