.bg-violet { background-color: $rsi-violet;  }
.bg-blue { background-color: $rsi-blue; }
.bg-pink { background-color: $rsi-pink; }
.bg-green { background-color: $rsi-green; }
.bg-orange { background-color: $rsi-orange; }
.bg-red { background-color: $rsi-red; }

.bg-gray-darkest { background-color: $gray-darkest; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-lightest { background-color: $gray-lightest; }
.bg-gray-faint { background-color: $gray-faint; }
