/* Left Nav - RSI Communication Center */
#left-nav-wrap {
    position:                               fixed;
    top:                                    103px;
    left:                                   0;
    z-index:                                100;
    height:                                 100%;
    width:                                  80px;
    background:                             $gray-darkest;
    overflow:                               hidden;
    border-right:                           1px solid #999;
    box-shadow:                             4px -7px 2px -2px rgba(0, 0, 0, 0.29);
    -webkit-transition:                     all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition:                        all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition:                          all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition:                             all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
    -webkit-transition-timing-function:     cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function:        cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function:          cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function:             cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */



    ul {
        position:       absolute;
        top:            0;
        left:           0;
        margin:         0;
        padding:        0;

        li {
            list-style-type:    none;
            text-align:         center;

            a {
                float:          left;
                width:          272px;
                padding:        8px 0 8px 22px;
                margin:         0;
                border:         $gray-darker solid 1px;
                border-left:    none;
                border-right:   none;
                text-align:     left;

                &:last-child {
                    border-bottom: none;

                }
            }
        }

        i {
            height:         45px;
            width:          39px;
            padding:        6px 0 0 0;
            margin:         0 4px 0 0;
            text-shadow:    2px 1px #5c3e8f;
            text-align:     center;
            color:          $white;
            font-size:      26px;

        }

        span {
            padding:    0 0 0 18px;
            color:      #fff;
        }

    }
}


.show {
    width:220px !important;
}
