/* Button TODO: Make into a mixin */

.button {
    display:            inline-block;
    position:           relative;
    width:              120px;
    height:             3.0em;
    background-color:   #fff;
    color:              #646464;
    line-height:        32px;
    border-radius:      0px;
    font-size:          0.9em;


    > paper-ripple {
        border-radius: 2px;
        overflow: hidden;
    }

    .nav-text {
        padding-top:    0em;
    }

    &.narrow {
        width: 60px;
    }
    &.grey {
        background-color: $gray;
    }
    &.violet {
        background-color:   $brand-primary;
        color:              $white
    }
    &.blue {
        background-color: #4285f4;
        color: #fff;
    }
    &.green {
        background-color: #0f9d58;
        color: #fff;
    }
    &.raised {

        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.6s;
        box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, 0.26) inset;
        border-top: 1px solid rgba(0,0,0,.14);

        &:active {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
            transition-delay: 0s;
        }

    }
}

/* Icon Button */

.icon-button {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    > core-icon {
        margin: 16px;
        transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover > core-icon {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    > paper-ripple {
        overflow: hidden;
        color: #646464;
    }
    &.red > {
        core-icon::shadow path {
            fill: #db4437;
        }
        paper-ripple {
            color: #db4437;
        }
    }
    &.blue > {
        core-icon::shadow path {
            fill: #4285f4;
        }
        paper-ripple {
            color: #4285f4;
        }
    }
}

/* FAB */

.fab {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    &.red {
        background-color: #d23f31;
    }
    &.blue {
        background-color: #4285f4;
    }
    &.white {
        background-color: #ffffff;
    }
    &.violet {
        background-color: $brand-primary;
    }
    &.green {
        background-color: #0f9d58;
    }
    &:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        transition-delay: 0s;
    }
    > core-icon {
        margin: 16px;

        &::shadow path {
            fill: #fff;
        }

    }
}

/* Menu */

.menu {
    display: inline-block;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}


.item {
    position: relative;
    height: 48px;
    line-height: 48px;
    color: #646464;
    font-size: 0.9em;
}

.menu.blue > .item {
    color: #4285f4;
}

/* Items specific to Left Nav */
#left-nav-wrap {

    .menu-grey {
        display: inline-block;
        width: 180px;

        li {
            height:     4.5em;

            .fa-chevron-right {
                height:         36px;
                width:          30px;
                transition:     -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                transition:     transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            }

            .flip {
                -moz-transform:     rotate(180deg);
                -webkit-transform:  rotate(180deg);
                transform:          rotate(180deg);
            }
        }
    }

    .menu-grey.violet > .item {
        color: $brand-primary;
        width: 14.9em;
    }
}

/* Page Button */
.page-button {
    .fab {
        position:   fixed;
        bottom:     30px;
        right:      40px;
        height:     60px;
        width:      60px;

        i {
            margin:     19px 0 0 6px;
            font-size:  23px;
        }
    }
}


/* Card, Dialog */

.card {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 240px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.dialog {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 240px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    padding: 16px;
    > {
        .content {
            height: 170px;
            font-size: 0.9em;
            > .title {
                font-size: 1.3em;
            }
        }
        .button {
            width: 90px;
            float: right;
        }
    }
}

.card.image {
    background: url(http://lorempixel.com/300/240/nature/);
    color: #fff;
}

/* Misc */

.center {
    text-align: center;
}

.label {
    padding: 0 16px;
}

.label-violet {
    color: $brand-primary;
}

.label-blue {
    color: #4285f4;
}

.label-red {
    color: #d23f31;
}
