//html, body {
//    height: 100%;
//}
//body {
//    padding-top: 65px;
//}
.sidenav {
    padding-top: 50px;
}
.navbar {
    text-align: center;
}
.navbar-brand {
    display: inline-block;
    float: none;
}
.navbar-toggle {
    position: absolute;
    left: 15px;
}
@media (min-width: 768px) {
    body {
        padding-top: 15px;
    }
    .sidenav {
        padding-top: 0;
    }
    .container {
        width: auto!important;
        max-width: none!important;
        margin-left: 300px;
    }
}
@media (max-width: 767px) {
    .sidenav-brand {
        display: none;
    }
}

/* this was taken out of the original because of issues in the docs */
.offcanvas-clone {
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    opacity: 0 !important;
}
