// Right Panel - Lightbox
// --------------------------


.lightbox-wrap {
    position:fixed;
    top:0;
    left:0;
    z-index:900;
    height:100%;
    width: 100%;
    background: rgba(0,0,0,.68);
    opacity:0;
    visibility: hidden;
    -webkit-transition:                     all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition:                        all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition:                          all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition:                             all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
    -webkit-transition-timing-function:     cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function:        cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function:          cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function:             cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}


.right-panel {
    position: fixed;
    top:0;
    right:-100%;
    z-index:10000;
    height:100%;
    width:440px;
    background-color: #fff;
    -webkit-transition:                     all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition:                        all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition:                          all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition:                             all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
    -webkit-transition-timing-function:     cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function:        cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function:          cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function:             cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */




}

/**/
.right-lightbox {
    /* padding: $spacing-2x; */
    background: #FFF;
    overflow: hidden;
    h2 .icon {
        float: right;
        cursor: pointer;
    }
    .lightbox-body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .lightbox-main-content {
        margin-top: 150px;
    }
    .lightbox-banner {
        a {
            position: absolute;
            top: 6px;
            right: 30px;
            z-index: 2;
        }
        .panel {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 400px;
            height: 100%;
        }
    }
}

.lightbox-body .control-label {
    text-align: left;
    font-size: 14px;
    width: 130px;
    margin: 0 0px 0 0;
    padding: 0;
    float: left;
}

.lightbox-container {
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(40, 46, 48, 0.7);
    z-index: 900;
    opacity: 0;
    &.launch-lightbox {
        height: 100%;
        opacity: 1;
    }
}

.right-lightbox {
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    height: 100%;
    float: right;
    margin-right: -1000em;
    &.launch-lightbox {
        margin-right: 0;
        :first-child {
            /* border:green solid; */
        }
        :nth-child(2) {
            /* border:blue solid; */
        }
    }
}

