// Base values
$base-font-size: 100% !default;
$base-line-height: 160% !default;

// We use this to control font-smoothing
$font-smoothing: antialiased !default;

// Logo colors & dimensions
// --------------------------

$logo-primary-color:       #000 !default;
$logo-reverse-color:       #FFF !default;
$logo-min-height:          .625em !default;

// Font families -- chance to redo?
// ---------------------------------

$font-path:                "fonts/rsi" !default;

$font-family-base:         'Droid Sans', sans-serif;
$font-family-normal:       'Droid Sans', sans-serif;
$font-family-bold:         'Droid Sans', sans-serif;
$font-family-light:        'Droid Sans', sans-serif;
$font-family-light-small:  'Droid Sans', sans-serif;


// Color palette
// --------------------------


$rsi-red:                 #5c3e8f !default;
$rsi-orange:              #FFE100 !default;
$rsi-gold:                #5c3e8f !default;
$rsi-yellow:              #5c3e8f !default;
$rsi-light-green:         #5c3e8f !default;
$rsi-green:               #E1FF00 !default;
$rsi-light-blue:          #5c3e8f !default;
$rsi-blue:                #6D18FF !default;
$rsi-dark-blue:           #5c3e8f !default;
$rsi-violet:              #5C3E8F !default;
$rsi-pink:                #DA06FF !default;


$rsi-gray:                  #a5a5a5 !default;
$rsi-white:                 #fff !default;

$rsi-violet:                #5C3E8F !default;
$rsi-blue:                  #6D18FF !default;
$rsi-pink:                  #DA06FF !default;
$rsi-orange:                #FFE100 !default;
$rsi-green:                 #E1FF00 !default;
$rsi-red:                   #5c3e8f !default;


$rsi-true-white:            #fff !default;

// RSI Color palette
// --------------------------
$rsi-violet:                #5c3e8f !default;
$rsi-blue:                  #3e3ab3 !default;
$rsi-green:                 #AFF250 !default;



// Brand offering colors
$rsi-brand-aerospace:     $rsi-red !default;
$rsi-brand-bi:            $rsi-orange !default;
$rsi-brand-intel-sys:     $rsi-gold !default;
$rsi-brand-lighting:      $rsi-yellow !default;
$rsi-brand-data-center:   $rsi-light-green !default;
$rsi-brand-power-mgmt:    $rsi-green !default;
$rsi-brand-value-reco:    $rsi-light-blue !default;
$rsi-brand-cloud:         $rsi-blue !default;
$rsi-brand-corporate:     $rsi-dark-blue !default;
$rsi-brand-mobility:      $rsi-violet !default;

// Innovators colors
$rsi-metallic-gold:       #a8996e !default;
$rsi-process-gold:        #c2a204 !default;




