ul#wizard-status {

    overflow:       hidden;
    margin:         0;
    height:         2.04em;
    padding:        0;
    text-align:     center;
    list-style:     none;

    li {
        position:           relative;
        display:            inline-block;
        margin:             0;
        padding:            0;
        height:             2.54em !important;
        background-color:   $gray-light;
        color:              $white;
        font-size:          .8em;
        line-height:        30px;

        span {
            position:   absolute;
            z-index:    300;
            left:       24px;
            width:      82%;
            color:      #fff;
            font-size:  0.86em;
            text-align: center;
        }

        &:first-child,
        &:last-child {
            float:      left;
            width:      0px;

            &:after, &:before {
                background-color: $gray-lightest;
                content: "";
                display: block;
                position: absolute;
            }
        }

        &:last-child {
            float:              left;
            width:              5.3em;
            background-color:   $gray-lightest;
            color:              $brand-primary;

            /* Truck Icon TODO: move into seperate SCSS */
            i {
                font-size:  2.5em;
                /* Skew Icon */
                -moz-transform:     scale(-1, 1) rotate(-4deg) translate(0px, 0px) skew(13deg, 4deg);
                -webkit-transform:  scale(-1, 1) rotate(-4deg) translate(0px, 0px) skew(13deg, 4deg);
                -o-transform:       scale(-1, 1) rotate(-4deg) translate(0px, 0px) skew(13deg, 4deg);
                -ms-transform:      scale(-1, 1) rotate(-4deg) translate(0px, 0px) skew(13deg, 4deg);
                transform:          scale(-1, 1) rotate(-4deg) translate(0px, 0px) skew(13deg, 4deg);

                &.top {
                    position:   absolute;
                    z-index:    900;
                    left:       0.59em;
                    top:        -.04em;
                    color:      #fff;
                }
                &.bottom {
                    position:   absolute;
                    z-index:    0;
                    left:       0.5em;
                    top:        -.049em;
                    color:      rgba(0,0,0,.09);
                }

            }

            /* Truck Icon - Lines */
            div {
                position:       absolute;
                z-index:        0;
                left:           65%;
                top:            2px;
                height:         2px;

                border-radius:  1em;

                .line1 {
                    left:               -.96em;
                    top:                1.4em;
                    width:              24px;
                    background-color:   $white;
                }
                .line2 {
                    left:               .6em;
                    top:                -.52em;
                    width:              20px;
                    background-color:   $white;
                }
                .line3 {
                    left:               .8em;
                    top:                -.5em;
                    width:              12px;
                    background-color:   $white;
                }
                .line1-bg {
                    left:               -.96em;
                    top:                1.5em;
                    width:              24px;
                    background-color:   $brand-primary;
                }
                .line2-bg {
                    left:               .6em;
                    top:                -.57em;
                    width:              20px;
                    background-color:   $brand-primary;
                }
                .line3-bg {
                    left:               .8em;
                    top:                -.5em;
                    width:              12px;
                    background-color:   $brand-primary;
                }
            }
        }


        &:after, &:before {
            position:           absolute;
            display:            block;
            background-color:   $gray-light;
            content:            "";
        }

        &:after {
            z-index:            5;
            right:              -19px;
            top:                -4px;
            height:             30px;
            width:              42px;
            border-right:       4px solid white;
            border-top:         4px solid white;
            -webkit-transform:  rotate(45deg);
            -moz-transform:     rotate(45deg);
            -ms-transform:      rotate(45deg);
            -o-transform:       rotate(45deg);
            transform:          rotate(45deg);
        }

        &:before {
            z-index:    6;
            right:      3px;
            height:     2.04em;
            width:      20px;
        }

        &:last-child {
            &:after, &:before {
                display: none;
            }
        }

        &.current {
            background-color: $gray-darker;
            color: #453;

            &:after, &:before {
                background-color: $gray-darker;
            }

        }

        &.completed {
            background-color:   $gray-dark;
            color:              $white;

            &:after, &:before {
                background-color: $gray-dark;
            }
        }

    }
}




