
<div id="--map" class="-gc-container">
<!--
*
*
*       Currently the RSI-Library mock (mostly) works if inserted here
*
*
*
*-->



    <!--
    *
    *
    *       Mapping Test w/ map working
    *
    *
    *
    *-->
        <div id="map"></div>

<div class="right-lightbox">

    <div class="lightbox-main-content">
        <data-google-places location="location" lat="property.latCoord" lon="property.longCoord" address="property.address"></data-google-places>
            <div class="well bs-component box-shadow-none">
                <form role="form" class="form-horizontal">
                    <fieldset>
                        <legend>Legend</legend>
                        <div class="form-group">
                            <div class="form-group"></div>
                            <label for="" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-8">
                                <input type="text" ng-model="property.title" class="form-control"/>
                            </div>
                            <div class="form-group"></div>
                            <label for="" class="col-lg-2 control-label">Product Type</label>
                            <div class="col-lg-8">
                                <select ng-model="property.productType">
                                    <option ng-repeat="productType in property.ddlProductType">{{productType}}</option>
                                </select>
                            </div>
                            <div class="form-group"></div>
                            <label for="" class="col-lg-2 control-label">Property Type</label>
                            <div class="col-lg-8">
                                <select ng-model="property.propertyTypeCategory">
                                    <option ng-repeat="propertyType in property.ddlPropertyTypeCategory">{{propertyType}}</option>
                                </select>
                            </div>
                            <div class="form-group"></div>
                            <label for="" class="col-lg-2 control-label">{{property.propertyTypeCategory}}</label>
                            <div class="col-lg-8">
                                <select ng-if="property.propertyTypeCategory === 'Land'" ng-model="property.propertyTypeLand">
                                    <option ng-repeat="land in property.ddlPropertyTypeLand">{{land}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Industrial'" ng-model="property.propertyTypeIndustrial">
                                    <option ng-repeat="industrial in property.ddlPropertyTypeIndustrial">{{industrial}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Office'" ng-model="property.propertyTypeOffice">
                                    <option ng-repeat="office in property.ddlPropertyTypeOffice">{{office}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Retail'" ng-model="property.propertyTypeRetail">
                                    <option ng-repeat="retail in property.ddlPropertyTypeRetail">{{retail}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Multi-Family'" ng-model="property.propertyTypeMulti">
                                    <option ng-repeat="multi in property.ddlPropertyTypeMultiFamily">{{multi}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Hotel'" ng-model="property.propertyTypeHotel">
                                    <option ng-repeat="hotel in property.ddlPropertyTypeHotel">{{hotel}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Special Purpose'" ng-model="property.propertyTypeSpecial">
                                    <option ng-repeat="special in property.ddlPropertyTypeSpecialPurpose">{{special}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Date Completed</label>
                            <div class="col-sm-8">
                                <!--input.form-control(type='text', datepicker-popup='{{format}}', ng-model='property.dateComplete',-->
                                <!--is-open='opened', min-date='minDate', max-date="'2015-06-22'", datepicker-options='dateOptions',-->
                                <!--date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')-->
                                <!--span.input-group-btn-->
                                <!--  button.btn.btn-default(type='button', ng-click='property.openDatePicker($event)')-->
                                <!--    i.glyphicon.glyphicon-calendar-->
                                <p class="input-group">
                                    <input type="date" datepicker-popup="" ng-model="property.dateComplete" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="property.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" class="form-control date-picker"/><span class="input-group-btn">
                      <!--button.btn.btn-default(type='button', ng-click='open($event)') // TODO: Add fancy datepicker
                      //i.glyphicon.glyphicon-calendar
                      --></span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Address</label>
                            <div class="col-lg-8">





                                <input id="google_places_ac" type="text" name="google_places_ac" class="form-control"/>
                                <!-- Hidden Address Field - for form submission (Full google address gets fed in here from the google-maps.directive.js)-->
                                <input type="text" ng-model="property.address" class="form-control"/>
                                <!-- Hidden Latitude-->
                                <input type="text" ng-model="property.latCoord" class="form-control"/>
                                <!-- Hidden Longitude-->
                                <input type="text" ng-model="property.longCoord" class="form-control"/>
                            </div>




                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Improvement Size</label>
                            <div class="col-lg-8">
                                <select ng-if="property.propertyTypeCategory !== 'Multi-Family' &amp;&amp; property.propertyTypeCategory !== 'Land' &amp;&amp; property.propertyTypeCategory !== 'Hotel'">
                                    <option ng-repeat="improvementSize in property.ddlImprovementSize" ng-model="property.improvementSize">{{improvementSize}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Multi-Family' || property.propertyTypeCategory === 'Hotel' ">
                                    <option ng-repeat="improvementSizeMulti in property.ddlImprovementSizeMultiFamily" ng-model="property.improvementSizeMulti">{{improvementSizeMulti}}</option>
                                </select>
                                <select ng-if="property.propertyTypeCategory === 'Land'">
                                    <option ng-repeat="landSize in property.ddlLandSize" ng-model="property.landSize">{{landSize}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Relevant Condition</label>
                            <div class="col-lg-8">
                                <select ng-model="property.relevantCondition">
                                    <option ng-repeat="condition in property.ddlRelevantCondition">{{condition}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Relevant Condition</label>
                            <div class="col-lg-8">
                                <select ng-model="property.relevantCondition2">
                                    <option ng-repeat="condition in property.ddlRelevantCondition">{{condition}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Relevant Condition</label>
                            <div class="col-lg-8">
                                <select ng-model="property.relevantCondition3">
                                    <option ng-repeat="condition in property.ddlRelevantCondition">{{condition}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-lg-2 control-label">Relevant Condition</label>
                            <div class="col-lg-8">
                                <select ng-model="property.relevantCondition4">
                                    <option ng-repeat="condition in property.ddlRelevantCondition">{{condition}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2"><a class="close-lightbox">
                <button ng-click="cancel()" class="btn btn-large btn-default close-lightbox">Cancel</button></a><a class="close-lightbox">
                <button ng-click="property.addProperty(property)" class="btn btn-large btn-primary btn-raised close-lightbox">Add Property</button></a>
            </div>
        </div>
    </div>


</div>




</div>
