<div id="companies" class="gc-container">
  <data-gc-page-header show-search="true" 
    page-title="{{companies.manageCompaniesLabel}}"
    create-text="{{companies.createNewCompanyLink}}"
    search-placeholder="{{companies.searchBoxLabel}}">
  </data-gc-page-header>
  
  <div ui-view></div>
  
</div>
