<div class="col-xs-12">
  <div>
    <h3 data-ng-bind="companies.companyDetailLabel"></h3>
  </div>
  <span class="row col-xs-11 col-xs-offset-1 top-buffer bottom-buffer-sm">
    <h3 class="pull-left company-title" data-ng-bind="companies.currentCompanyName"></h3>
    <div class="pull-left top-buffer left-buffer-sm">
      <a ui-sref="COMPANIES.EDIT" data-ng-bind="companies.editLabel"></a> |
      <a href="#" data-ng-bind="companies.deleteLabel"></a>
    </div>
  </span>
  
  <!-- Departments  -->
  <div class="col-xs-4 col-xs-offset-1">
    <div class="well well-sm">
      <span class="well-label right-buffer-sm" data-ng-bind="companies.departmentsLabel"></span>
      <span class="well-label-count" data-ng-bind="companies.departmentCountLabel"></span>
      <span class="pull-right">
      <a href="#" class="inactive" data-ng-bind="companies.showLabel"></a> |
      <a href="#" data-ng-bind="companies.addLabel"></a>
    </span>
    </div>
  </div>

  <!-- Users -->
  <div class="col-xs-6">
    <div class="well well-sm">
      <span class="well-label right-buffer-sm" data-ng-bind="companies.usersLabel"></span>
      <span class="well-label-count" data-ng-bind="companies.usersCountLabel"></span>
      <span class="pull-right">
      <a href="#" class="inactive" data-ng-bind="companies.showLabel"></a> |
      <a href="#" data-ng-bind="companies.addLabel"></a>
    </span>
    </div>
  </div>
  
  <!-- Projects -->
  <div class="col-xs-10 col-xs-offset-1">
    <div class="well well-sm">
      <span class="well-label right-buffer-sm" data-ng-bind="companies.projectsLabel"></span>
      <span class="well-label-count" data-ng-bind="companies.projectsCountLabel"></span>
      <span class="pull-right">
      <a href="#" class="inactive" data-ng-bind="companies.showLabel"></a>
    </span>
    </div>
  </div>
</div>