<div class="col-xs-12">
  <div>
    <h3
      data-ng-if="companies.currentState ==='CREATE'"
      data-ng-bind="companies.createCompanyLabel">
    </h3>
    <h3
      data-ng-if="companies.currentState === 'EDIT'" 
      data-ng-bind="companies.editCompanyLabel">
    </h3>
  </div>
  <div class="col-xs-4 col-xs-offset-1 top-buffer">
    <form name="companies.companyForm">
      <div class="row bottom-buffer">
        <label data-ng-bind="companies.companyNameLabel"></label>
        <input 
          class="form-control" 
          type="text"
          data-ng-model="companies.companyName"
          name="companyName"
          placeholder="{{companies.companyExampleLabel}}" />
          <div class="top-buffer-xs" data-ng-show="companies.showValidation">
            <span class="error"
              data-ng-bind="companies.errorExistingCompany">
            </span>
            <a href="" data-ng-bind="companies.viewExistingCompany"></a>
          </div>
      </div>
      <div class="row pull-right">
        <a 
          class="cancel-link" 
          data-ng-bind="companies.cancelButtonLabel"
          ui-sref="#">
        </a>
        <button 
          class="btn left-buffer-sm"
          data-ng-if="companies.currentState === 'CREATE'"
          data-ng-bind="companies.createButtonLabel"
          data-ng-click="companies.handleCreate()">
        </button>
        <button 
          class="btn left-buffer-sm"
          data-ng-if="companies.currentState === 'EDIT'"
          data-ng-bind="companies.saveButtonLabel"
          data-ng-click="companies.handleEdit()">
        </button>
      </div>
    </form>
  </div>
</div>