<div class="">
    TODO: Hide this when logged out
    <div class="navbar-header">

        <a data-ng-class="{ active: navbar.isActive('HOME') }"
           class="navbar-brand" data-ui-sref="HOME"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.home"></a>




        <a data-ng-class="{ active: navbar.isActive('DASHBOARD') }"
           class="navbar-brand" data-ui-sref="DASHBOARD"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.dashboard"></a>

        <a data-ng-class="{ active: navbar.isActive('MAP') }"
           class="navbar-brand" data-ui-sref="MAP"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.map"></a>





        <a data-ng-class="{ active: navbar.isActive('PROPERTIES') }"
           class="navbar-brand" data-ui-sref="PROPERTIES"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.properties"></a>

        <a data-ng-class="{ active: navbar.isActive('MARKETING') }"
           class="navbar-brand" data-ui-sref="MARKETING"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.marketing"></a>

        <a data-ng-class="{ active: navbar.isActive('ADMIN') }"
           class="navbar-brand" data-ui-sref="ADMIN"
           data-ui-sref-opts="{reload:true}"
           data-ng-bind="navbar.admin"></a>
    </div>
    </nav>