<div class="gc-container">
  <data-gc-ga-track 
    data-ga-tracking-id="{{message.errorCode}}">
  </data-gc-ga-track>

  <div class="col-xs-4 col-xs-offset-4">
    <div class="row bottom-buffer-lg">
      <h2 data-ng-bind="message.messageTitle"></h2>
      <p data-ng-bind="message.messageBody"></p>
    </div>
</div>